<div class="AddNewFeed">
<h1>New feed</h1>

<!-- %= form_for @feed, :url => feeds_create_path(@feed) do |f| % -->
<%= form_for @feed do |f| %>
	<% if @feed.errors.any? %>
		<ul>
			<% @feed.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>

	<p>
		<%= f.label :uri %><br />
		<%= f.text_field :uri %>
	</p>
	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.submit 'Create' %>
	</p>
	<input type="hidden" id="feed[user]" name="feed[user]" value="<%=session["user_id"]%>" />

<% end %>
</div>

